body {
  padding-top: 60px;
}

.table {
  table-layout: fixed;
}

.table > tbody > tr > td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip {
  min-width: 300px;
}

.list-group-item:hover {
  background-color: #f3f3f3;
}
