<template name="Layout">
  {{> NavbarFixedTop}}
  <div class="container">
    {{> yield}}
  </div>
</template>

<template name="Loading">
  <p>Loading...</p>
</template>

<template name="NavbarFixedTop">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Tooit</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Books <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor route='ct.book.index'}}">Visit Administration Index</a></li>
              <li><a href="{{pathFor route='ct.book.create'}}">Create new Book</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{pathFor route='books'}}">Go to the Book Store</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Contacts <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor route='ct.contact.index'}}">Visit Administration Index</a></li>
              <li><a href="{{pathFor route='ct.contact.create'}}">Create new Contact</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Tasks <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor route='ct.task.index'}}">Visit Administration Index</a></li>
              <li><a href="{{pathFor route='ct.task.create'}}">Create new Task</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
